{% extends 'base.html' %}

{% block title %}Book List{% endblock %}

{% block content %}
<p></p>
<div>
    <!--    search form -->
    <form method="get" action="">
        <label for="id_title">Title:</label>
        <input type="text" name="title" id="id_title" value="{{ title }}">

        <label for="id_author">Author:</label>
        <input type="text" name="author" id="id_author" value="{{ author }}">

        <input type="submit" value="Search"/>
    </form>
</div>
<p></p>

<table id="books">
    <thead>
    <tr>
        <th>Title</th>
        <th>Publish Date</th>
        <th>Author</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.publish_date }}</td>
        <td>{{ book.author.name }}</td>
        <td><a href="/book/{{ book.id }}/edit">Edit</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
